/.idea/
/.vs/
/.vscode/
/.env/
/.venv/
/.env
/.env.*
!/.env.example
!/.env.*.example
keys.txt
*.agekey
age-identity*
*.decrypted.*
*.plaintext.*
*.plain.*
!*.sops.yaml
!*.sops.yml
!.sops.yaml
/*.egg-info/
__pycache__/
.pytest_cache/
/config/
*.zip
/.coverage
/coverage.xml
*~
\#*\#
.\#*
*.orig
*.rej
.history
.DS_Store
Thumbs.db
